In [1]:
import pandas as pd
import numpy as np

In [8]:
all_ages = pd.read_csv('all-ages.csv')
recent_grads = pd.read_csv('recent-grads.csv')

In [11]:
all_ages.head(3)

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000

In [9]:
print len(all_ages), len(recent_grads)

173 173

In [10]:
recent_grads.head()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [16]:
all_ages_major_categories = {}
recent_grads_major_categories = {}

for j, i in enumerate(all_ages['Major_category']) :
    if i in all_ages_major_categories:
        all_ages_major_categories[i] += all_ages['Total'][j] 
    else:
        all_ages_major_categories[i] = all_ages['Total'][j] 
        
for j, i in enumerate(recent_grads['Major_category']):
    if i in recent_grads_major_categories:
        recent_grads_major_categories[i] += recent_grads['Total'][j]
    else:
        recent_grads_major_categories[i] = recent_grads['Total'][j]
        
print(all_ages_major_categories)

{'Arts': 1805865, 'Social Science': 2654125, 'Interdisciplinary': 45199, 'Industrial Arts & Consumer Services': 1033798, 'Computers & Mathematics': 1781378, 'Communications & Journalism': 1803822, 'Humanities & Liberal Arts': 3738335, 'Engineering': 3576013, 'Biology & Life Science': 1338186, 'Health': 2950859, 'Law & Public Policy': 902926, 'Physical Sciences': 1025318, 'Education': 4700118, 'Agriculture & Natural Resources': 632437, 'Business': 9858741, 'Psychology & Social Work': 1987278}

In [17]:
low_wage_percent = float(recent_grads['Low_wage_jobs'].sum()/recent_grads['Total'].sum())

In [18]:
majors = recent_grads['Major'].value_counts().index

Index([u'AEROSPACE ENGINEERING', u'PLANT SCIENCE AND AGRONOMY',
       u'GENERAL MEDICAL AND HEALTH SERVICES', u'ELECTRICAL ENGINEERING',
       u'COMMUNICATION TECHNOLOGIES',
       u'HUMAN SERVICES AND COMMUNITY ORGANIZATION', u'GEOGRAPHY',
       u'AGRICULTURE PRODUCTION AND MANAGEMENT', u'ART AND MUSIC EDUCATION',
       u'NUCLEAR ENGINEERING',
       ...
       u'MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION',
       u'FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES',
       u'PETROLEUM ENGINEERING',
       u'MATERIALS ENGINEERING AND MATERIALS SCIENCE', u'MICROBIOLOGY',
       u'COMPUTER AND INFORMATION SYSTEMS', u'GENERAL SOCIAL SCIENCES',
       u'GEOLOGY AND EARTH SCIENCE', u'INFORMATION SCIENCES', u'BOTANY'],
      dtype='object', length=173)

In [21]:
recent_grads_lower_emp_count = 0
all_ages_lower_emp_count = 0

for i in majors:
    if all_ages['Unemployment_rate'][all_ages['Major'] == i].sum() < recent_grads['Unemployment_rate'][recent_grads['Major'] == i].sum():
        all_ages_lower_emp_count += 1 
    elif all_ages['Unemployment_rate'][all_ages['Major'] == i].sum() > recent_grads['Unemployment_rate'][recent_grads['Major'] == i].sum():
        recent_grads_lower_emp_count += 1